{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
   
</head>
<body>
    <header class="site-header">
        <nav>
            <ul>
                <li><a href="{% url 'profile' %}">Home</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="edit-profile-container">
        <h1>Edit Profile</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>
            </div>
            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <input type="text" id="phone_number" name="phone_number" value="{{ user.phone_number }}" required>
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
                <input type="text" id="gender" name="gender" value="{{ user.gender }}" required>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob" value="{{ user.dob|date:'Y-m-d' }}" required>
            </div>
            <div class="form-group">
                <label for="profile_picture">Profile Picture:</label>
                <input type="file" id="profile_picture" name="profile_picture">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Current Profile Picture" style="width: 100px; height: 100px;">
                {% endif %}
            </div>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>
</html>
