{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Matrimony Website</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <section class="hero-image">
        <header>
            <nav>
                <div class="logo">
                    <h1>MatrimonyPro</h1>
                </div>
            </nav>
        </header>
        <section class="form-section">
            <form class="form login-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-image">
                    <img src="{% static 'images/image10.jpg' %}" alt="Image Description">
                </div>
                <div class="form-content">
                    {% if form.errors %}
                        <div class="error-messages">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-row">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-row">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <button type="submit">Login</button>
                    <div class="forgot-password-link">
                        <a href="{% url 'forgot_password' %}">Forgot Password?</a>
                    </div>
                </div>
            </form>
        </section>
    </section>

    <footer>
        <p>&copy; 2024 MatrimonyPro. All rights reserved.</p>
    </footer>
</body>
</html>
